<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <sessionState cookieless="AutoDetect" mode="InProc" />
        <authorization>
            <allow users="*" />
        </authorization>
        <identity impersonate="false" />
        <authentication mode="Forms">
            <forms cookieless="UseDeviceProfile" requireSSL="false" />
        </authentication>
        <roleManager enabled="false" />
    </system.web>
    <system.webServer>
        <httpErrors>
            <error statusCode="500" path="C:\Users\pher\Desktop\website\error pages\error 500.html" responseMode="File" />
            <error statusCode="404" path="error 404.html" responseMode="File" />
            <error statusCode="503" path="C:\Users\pher\Desktop\website\error pages\error 503.html" responseMode="File" />
            <error statusCode="400" path="C:\Users\pher\Desktop\website\error pages\error 400.html" responseMode="File" />
            <error statusCode="401" path="C:\Users\pher\Desktop\website\error pages\error 401.html" responseMode="File" />
            <error statusCode="403" path="C:\Users\pher\Desktop\website\error pages\error 403.html" responseMode="File" />
            <error statusCode="405" path="C:\Users\pher\Desktop\website\error pages\error 405.html" responseMode="File" />
            <error statusCode="501" path="C:\Users\pher\Desktop\website\error pages\error 501.html" responseMode="File" />
            <error statusCode="520" path="C:\Users\pher\Desktop\website\error pages\error 520.html" responseMode="File" />
            <error statusCode="521" path="C:\Users\pher\Desktop\website\error pages\error 521.html" responseMode="File" />
            <error statusCode="533" path="C:\Users\pher\Desktop\website\error pages\error 533.html" responseMode="File" />
        </httpErrors>
        <httpRedirect enabled="false" destination="\error pages\error 533.html" exactDestination="false" httpResponseStatus="Temporary" />
        <defaultDocument>
            <files>
                <add value="error 503.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>



