body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    list-style-type: none;
}
.header {
    position: relative;
    text-align: center;
    color: white;
    list-style-type: none;
}
.header img {
    width: 100%;
    height: auto;
    list-style-type: none;
}
.header .countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
}
.content {
    padding: 20px;
    list-style-type: none;
}
.section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
}
.section h2 {
    margin-top: 0;
    list-style-type: none;
}

.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  .Navbar li {
    float: left;
  }
  
  .Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .Navbar li a:hover {
    background-color: #111;
  }

.buttonlink{
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 1px;
}