<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Windows">
            <forms cookieless="UseCookies" />
        </authentication>
        <identity impersonate="false" />
        <roleManager defaultProvider="AspNetWindowsTokenRoleProvider" enabled="true" />
    </system.web>
    <connectionStrings>
        <remove name="LocalSqlServer" />
    </connectionStrings>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly" />
        <caching>
            <profiles>
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
